/* Import local fonts */
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Plage de variation */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Le style original utilise 600 pour certains éléments */
  font-style: normal;
}

@font-face {
  font-family: 'Young Serif';
  src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --nutmeg: #854632;
  --mulberry: #7b284f;
  --eggshell: #f3e6d8;
  --lightgrey: #e4ded8;
  --umber: #5f574eff;
  --soot: #302d2c;
  --rosewhite: #fff5fa;

  --font1-family: "Outfit", sans-serif;
  --font2-family: "Young Serif", serif;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}